.currentUserMessage {
    margin: 5px;
    padding: 10px 60px 10px 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.currentUserMessage > .message-body-container {
    /* border-top-right-radius: 55px;
    border-bottom-right-radius: 55px; */
    margin: 5px;
    padding: 15px 30px 15px 30px;
    background-color: #326CFB;
    color: #fff;
    border-radius: 15px;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.otherUserMessage {
    margin: 5px;
    padding: 10px 200px 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.otherUserMessage > .message-body-container {
    margin: 5px;
    padding: 15px 30px 15px 30px;
    background-color: #F4F4F4;
    border-radius: 15px;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-header {
    display: flex;
    flex-direction: row;
}

.otherUserMessage > .message-header {
    display: flex;
    flex-direction: row-reverse;
}

.message-date {
    margin: 0 15px 0 15px;
}

.message-sender {
    margin: 0 15px 0 15px;
}