html{
    overflow: hidden;
}
/* Dashboard Elements and Components */

.dashboard-container {
  border: 2px solid black;
  width: 100%;
  height: 100vh;
  background-color: #e9ebee;
}

.left-display {
  border: 2px solid red;
  height: 100%;
  width: 30%;
  position: absolute;
  float: left;
}

.right-display {
  border: 2px solid blue;
  height: 100%;
  width: 69.5%;
  position: relative;
  float: right;
}


/* Row ONE All Elements */
.user-header-row{
    border: 2px solid firebrick;
    height: 8%; 
}

.user-profile-img-container{
    position: absolute;
}

.user-profile-img {
  width: 60px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin-left: 20px;
}

.notification-indicator{
    /* border: 2px solid red; */
    width: 5px;
    height: 5px;
    position: absolute;
    margin-left: 86%;
    margin-top: 5%
}
#add-friend{
    margin-left: 70%;
    margin-top: 5%;
    position: absolute;
    width: 28px
}

#settings{
    position: absolute;  
    margin-left: 82%;
    margin-top: 7%;
}

/* Row Two All Elements */

.component-row{
    border: 2px solid green;
    height: 10%; 
}

.components-container{
    height: 7%;
    width: 85%;
    position: absolute;
    margin-left: 6.5%;
    margin-top: 2.5%;
}

.inner-component-box{
    display: inline-block;
    border: 1px solid black;
    height: 100%;
    width: 32.6%;
    cursor: pointer;
}

.inner-component-box:hover{
    background-color: #59a1f2;
}

/* Contacts Containers and Elements */

.contacts-container{
    height: 8vh;
    cursor: pointer;
    border: 1px solid black;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 2%;
}

.contact-profile-pic-container {
    position: absolute;
    margin-left: 4%;
}
.contact-profile-pic {
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.contact-info-container {
  position: absolute;
  margin: 3.5% 0 0 22.5%;
}

.contact-username{
    float: left;
}



/* Dashboard Elements and Components */


.leftside-navbar {
  margin-top: 1.5%;
  margin-left: 1%;
  border: 2px solid lightblue;
  height: 86vh;
  width: 15vh;
  position: absolute;
}

.component-box {
  width: 12.5vh;
  height: 10vh;
  display: block;
  cursor: pointer;
}

/*Components Containers*/

.component-container {
  width: 80vh;
  height: 10vh;
  background-color: aqua;
}

.display-container {
  width: 80vh;
  height: 87%;
  position: absolute;
}

.threads-container {
  height: 81vh;
  overflow: auto;
}

.individual-thread {
    position: relative;
    height: 8vh;
    cursor: pointer;
    border-top: 1px solid black;
    line-height: 20px;
    font-size: 14px;
}

/*ChatRoom Containers*/
/*---------------------------------*/

.chatroom-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
}

.username-container {
  border: 1px solid forestgreen;
  height: 8vh;
}

#username-header {
  float: left;
  margin-left: 3%;
}

.video-call-setting-container {
  margin: 2% 0 0 88%;
  position: absolute;
  width: 100px;
}

.video-call-setting-container > i {
  margin-right: 20%;
}

.message-container {
    height: 84vh;
    overflow-y: auto;
}

.message-form {
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0px;
    background-color: #F5F1EE;
}

.input-message {
    width: 83%;
    height: 4vh;
    margin-top: 1%;
    border-radius: 5px;      
}
.microphone{
    width: 32px;
    margin-left: 2%;
    margin-top: 1%;
    position: absolute;
    cursor: pointer;
}

.receiver-individual-messages {
  border: 2px solid black;
  float: left;
  display: block;
}

.inchat-profile-img {
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}


.fa-arrow-circle-right {
  font-size: 1.73em;
  cursor: pointer;
}

/*---------------------------------*/

.contactlist-container {
  width: 100%;
  position: absolute;
  overflow-y: auto;
}



.column-components {
  position: absolute;
}

/*Search Components and Elements*/
#search-icon {
  position: relative;
  margin-top: 3%;
}
.search-placeholder {
    padding-top: 3%;
    margin-bottom: 6%;
}

.search-inputbox {
  width: 42vh;
  height: 5vh;
  border: none;
  margin-left: 6%;
}

.add-friend-container {
  width: 50vh;
  margin: 0.5% 0 0 25%;
  height: 31%;
  overflow: auto;
}

.add-friend-container > .search-placeholder > form > #search-icon {
  position: absolute;
  margin-top: 1%;
}

.add-friend-container > .search-placeholder > div > .flag-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 42vh;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 5%;
  margin-left: 11%;
}

.add-friend-container
  > .search-placeholder
  > div
  > .flag-background
  > .contact-profile-pic-container {
  position: absolute;
  margin: -1% 0 0 1.5%;
}

.add-friend-container
  > .search-placeholder
  > div
  > .flag-background
  > .contact-info-container {
  position: absolute;
  margin: 0.5% 0 0 7.5%;
  color: whitesmoke;
}

.dashboard-modal {
  /* max-width: 800px; */
  width: 800px;
  position: relative;
  padding: 1.2rem;
  height: 400px;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
}

.transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 1000ms ease;
}
