/* Dashboard Elements and Components */


.dashboard-container {
  border: 2px solid black;
  width: 167vh;
  height: 90vh;
  margin: 2% 0 0 2.5%;
  background-color: #E9EBEE;
}

.user-profile-img {
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin: 30%;
}

.contact-profile-pic {
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.contact-profile-pic-container {
  position: absolute;
  margin: -4.5% 0 0 4.5%;
}

.contact-info-container {
  position: absolute;
  margin: 5.5% 0 0 25.5%;
}

.leftside-navbar {
  margin-top: 1.5%;
  margin-left: 1%;
  border: 2px solid lightblue;
  height: 86vh;
  width: 15vh;
  position: absolute;
}

.component-box {
  width: 12.5vh;
  height: 10vh;
  margin: 7%;
  display: block;
  cursor: pointer;
}

/*Components Containers*/

.component-container {
  width: 80vh;
  height: 10vh;
  background-color: aqua;
}

.display-container {
  width: 80vh;
  height: 87%;
  position: absolute;
}


.threads-container {
  position: absolute;
  height: 86vh;
  width: 47vh;
  overflow: auto;
  margin-left: 12%;
}

.individual-thread {
  height: 10vh;
  width: 42vh;
  margin-bottom: 3%;
  margin-left: 8%;
  cursor: pointer;
  border: 1px solid black;
}

/*ChatRoom Containers*/
/*---------------------------------*/

.chatroom-container {
  width: 95vh;
  margin: 1% 0 0 40%;
  height: 86%;
  position: absolute;
  background-color: beige;
}

.username-container {
  border: 1px solid forestgreen;
  height: 8vh;
}

#username-header {
  float: left;
  margin-left: 3%;
}

.video-call-setting-container {
  margin: 2% 0 0 80%;
  position: absolute;
  width: 22vh;
}

.video-call-setting-container > i {
  margin-right: 20%;
}

.message-container {
  width: 87vh;
  height: 68vh;
  overflow-y: auto;
}

.message-form {
  border: 2px solid red;
  width: 94vh;
  height: 8vh;
  position: absolute;
  bottom: 0px;
}

.input-message {
  width: 85vh;
  height: 3vh;
  border: none;
  background: none;
}

.receiver-individual-messages {
  border: 2px solid black;
  float: left;
  display: block;
}

.inchat-profile-img {
  width: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

.send-btn {
  padding: 0;
  border: none;
  background: none;
  width: 30px;
}

.fa-arrow-circle-right {
  font-size: 1.73em;
  cursor: pointer;
}

/*---------------------------------*/

.contactlist-container {
  width: 44vh;
  height: 85vh;
  position: absolute;
  margin-left: 12%;
}

/* .contacts-container {
  width: 40vh;
  height: 12vh;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 5%;
} */

.column-components {
  position: absolute;
}

/*Search Components and Elements*/
#search-icon {
  position: absolute;
  margin-top: 3%;
}
.search-placeholder {
  margin-top: 5%;
  margin-bottom: 10%;
}


.search-inputbox {
  width: 42vh;
  height: 5vh;
  border: none;
  margin-left: 6%;
}

.add-friend-container {
  width: 50vh;
  margin: 0.5% 0 0 41%;
  height: 30%;
  overflow: auto;
}

.add-friend-container > .search-placeholder > form > #search-icon {
  position: absolute;
  margin-top: 1%;
}


.add-friend-container > .search-placeholder > div >.flag-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 42vh;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 5%;
  margin-left: 11%;
}

.add-friend-container > .search-placeholder > div >.flag-background > .contact-profile-pic-container {
  position: absolute;
  margin: -1% 0 0 1.5%;
}

.add-friend-container > .search-placeholder > div >.flag-background > .contact-info-container {
  position: absolute;
  margin: 0.5% 0 0 7.5%;
  color: whitesmoke;
}


