#signup-form-container {
  position: absolute;
  margin: 10% 0 0 40%;
}

.loading_container_register {
  width: 230%;
  height: 200%;
  margin: -80% 0 0 -160%;
  position: absolute;
  z-index: -3;
}

#register-form{
  width: 500px;
  margin-left: 35%
}

.pageHeader_register{
    margin-left: 30%;
}

strong {
  color: #fbfbfb;
}

.language-dropdown{
  height: 200px
}

.language-dropdown > div{
  max-height: 200px;
}

.region-dropdown{
  height: 138px
}

.region-dropdown > div{
  max-height: 138px
}

#question{
  margin-left: -40%;
  font-size: 15px;
}
